:host() {
  display: flex;
  width: 100vw;
  height: 100vh;
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .content {
    margin: 0 4vw;
    width: calc(100% - 8vw);
    // height: calc(100% - 32vh);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h1 {
      margin: 8vh 0 8vh 32vh;
      text-align: right;
      font-size: 8vw;
    }
    span {
      color: orange;
    }
  }
}
