:host() {
  display: flex;
  width: 100vw;
  height: 100vh;
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .centered {
      margin-bottom: 5vh;
      margin: 0 auto;
    }
    p {
      color: white;
      margin: 0;
      padding: 0;
      text-align: left;
      letter-spacing: 4vw;
      font-size: 4vw;

      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
    }
    .caleb {
      width: calc((4vw + 2vw) * 5);
      animation: type 1.2s steps(5, end);
    }
    .froese {
      width: calc((4vw + 2vw) * 6);
      animation: type 1.2s steps(6, end);
    }
    .web {
      width: calc((4vw + 2vw) * 3);
      animation: type2 3s steps(3, end);
    }
    .developer {
      width: calc((4vw + 2vw) * 9);
      animation: type2 3s steps(9, end);
    }
  }
}

@keyframes type {
  from {
    width: 0;
  }
}
@keyframes type2 {
  from {
    width: 0;
  }
  60% {
    width: 0;
  }
}
