:host() {
  .button-nav-container {
    position: fixed;
    padding: 8vh 4vw;
    top: 0;

    a {
      color: grey;
      margin: 1vw;
    }

    a.active {
      color: black;
      transition: 0.5s;
    }
  }
}
