/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  overflow: hidden;
}
.page0 {
  top: 0;
}
.page1 {
  top: -100vh;
}

.anim-fade-on-active {
  animation: 1s ease-out 1 fadeOut;
  opacity: 0;
}

.page-active .anim-fade-on-active {
  animation: 1s ease-out 1 fadeIn;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
}
