html,
body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css?family=Nova+Mono');
  font-family: 'Nova Mono', monospace;
}

button {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  font-family: 'Open Sans';
  padding: 20px;
  cursor: pointer;
}

.page0 {
  top: 0;
}
.page1 {
  top: -100vh;
}

.anim-fade-on-active {
  opacity: 0;
  animation: 1s ease-out 1 fadeOut;
  animation-fill-mode: forwards;
}

.page-active .anim-fade-on-active {
  animation: 1s ease-out 1 fadeIn;
  animation-fill-mode: forwards;
}

.page-active .anim-fade-on-active.delay1 {
  animation-delay: 1s;
}
.page-active .anim-fade-on-active.delay2 {
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
