/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  overflow: hidden;
}
.page0 {
  top: 0;
}
.page1 {
  top: -100vh;
}
.page2 {
  top: -200vh;
}
